<div>
  <div class="container pink" style="width: 90% !important; border-radius: 10px;">
   <div class="row">
          <div class="col s12">
            <h2 class="light white-text center">Miss Ellen's</h2>
          <h4 class="thin white-text center">Log In</h4>
          <div class="col s4 offset-s4">
            <form ng-submit="vm.login()">
            
            <div class="input-field col s12 white-text">
              <input id="name" type="email" ng-model="vm.user.email" style="color: white" required="required" />
              <label for="#name"  class="white-text">Email</label>
            </div>
            <div class="input-field col s12 white-text">
              <input id="pass" type="password" ng-model="vm.user.pass" style="color: white" required="required" />
              <label for="#pass" class="white-text">Password</label>
            </div>
              <div class="row">
                  <button type="button" data-target="register" class="btn modal-trigger white pink-text col s6">Register</button>
                  <button type="submit" class="btn pink darken-2 col s6">Log In</button> 
              </div>
              
              <div class="row">
                <a class="btn btn-flat white-text col s12">Continue as guest</a>
              </div>
                
            </form>
          </div>
          
          </div>
        </div>
  </div>
    
<!-- Modal Structure -->
   <div id="register" class="modal modal-fixed-footer" ng-controller="registerCtrl as vmRegister">
    <form ng-submit="vmRegister.register()" autocomplete="off">
     <div class="modal-content">
       <h4 class="pink-text">Register</h4>
       <p>Register as customer</p>

       <div class="row">
            <div class="input-field col s6">
                <input id="name" type="text" ng-model="vmRegister.user.name" required="required" />
                <label for="name">Name</label>
            </div>
           <div class="input-field col s6">
              <input id="pw" type="text" ng-model="vmRegister.user.contactNumber" />
              <label for="pw">Contact No.</label>
            </div>
           <div class="input-field col s6">
              <input id="pw" type="email" ng-model="vmRegister.user.email" required="required" />
              <label for="pw">Email</label>
            </div>
           <div class="input-field col s6">
              <input id="pw" type="password" ng-model="vmRegister.user.pass" required="required" />
              <label for="pw">Password</label>
            </div>
           <div class="input-field col s12">
              <input id="pw" type="text" ng-model="vmRegister.user.address" />
              <label for="pw">Address</label>
            </div>
        </div>
     </div>
     <div class="modal-footer">
       <button id="register-btn" class="waves-effect waves-green btn pink" type="submit">REGISTER</button>
     </div>
     </form>
   </div>

   <script type="text/javascript">
       $(document).ready(function(){
           $('.modal-trigger').leanModal();
        });
   </script>
  
        
</div>  