<div>
  <h3 class="header center pink-text thin">Product Order</h3>
    
  
  <div class="container" style="width: 90% !important;">
      <div class="row">
       <span class=" new badge indigo accent-3 right" style="margin-top: -10px; margin-right: 8%;">4</span> <button data-target="viewCart" class="btn btn-floating btn-large indigo accent-2 right" style="margin-top: -70px;"><i class="material-icons large" ng-click="">shopping_cart</i></button>
    </div>
    <div class="row">
        <div class="col s3">
             <ul class="collapsible" data-collapsible="accordion">
                <li>
                  <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
                  <div class="collapsible-body">
                    <ul class="">
                      <li style="display: block;"><a href="" class="btn btn-flat col s12">Sample</a></li>
                      <li style="display: block;"><a href="" class="btn btn-flat col s12">Sample</a></li>
                      <li style="display: block;"><a href="" class="btn btn-flat col s12">Sample</a></li>
                      <li style="display: block;"><a href="" class="btn btn-flat col s12">Sample</a></li>
                      <li style="display: block;"><a href="" class="btn btn-flat col s12">Sample</a></li>
                    </ul>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
                  <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
                  <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                </li>
              </ul>
        </div>
        
        <div class="col s9">
            <div class="col s3" ng-repeat="product in productList">
                    <div class="card small">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" ng-src="{{product.strPhotoPath}}">
                        </div>
                        <div class="card-content">
                            <span class="activator grey-text text-darken-4 light"><i class="material-icons right">add_shopping_cart</i></span>
                            <h5 style='font-size: 15px; line-height: 15px !important;'><b>{{product.strProductName}}</b>
                                <p>{{product.dblProductPrice | currency:"Php "}}</p></h5>
                        </div>
                        <div class="card-reveal">

                            <span class="card-title grey-text text-darken-4">
                                <i class="material-icons right"
                                   id="prodClose{{product.intProductID}}">close</i>
                            </span>
                            <h4 style='font-size: 15px; line-height: 15px !important;'>
                                <b>{{product.strProductName}}</b><br/>
                                <span class="grey-text text-darken-4">{{product.dblProductPrice | currency:"Php "}}</span>
                            </h4>
                            <div class="input-field col s12">
                                <input type="number" id="crPSQty{{product.intProductID}}" ng-model="details.quantity" min="1"/>
                                <label for="crPSQty{{product.intProductID}}"><b>Quantity</b></label>
                            </div>
                            <h6 class="grey-text text-darken-4">{{product.dblProductPrice * details.quantity | currency:
                                "Php "}}</h6>

                            <button class="waves-effect waves-light btn"
                                    ng-if="details.quantity > 0 && details.quantity <= product.intProductQuantity"
                                    ng-click="addToCart($index); calculateTotal(); vm.closeCard(product.intProductID)">
                                <i class="material-icons left" style="padding: 0px !important; margin: 0px !important;">
                                    shopping_basket</i>BUY NOW!
                            </button>
                            <button class="btn"
                                    ng-if="details.quantity < 1 && details.quantity <= product.intProductQuantity"
                                    ng-disabled="true" style="opacity: 0.3; cursor: not-allowed !important;">
                                <i class="material-icons left" style="padding: 0px !important; margin: 0px !important;">
                                    shopping_basket</i>BUY NOW!
                            </button>
                            <span class="red-text" ng-if="details.quantity > product.intProductQuantity">INSUFFICIENT STOCK</span>
                        </div>
                    </div>
                </div>
        </div>
    </div>
  </div>

  <!-- Modal Structure -->
   <div id="viewCart" class="modal" style="border-radius: 10px;">
     <div class="modal-content">
       <h4 class="pink-text">My Cart</h4>
       <p>Tangina ni Ken</p>
       <div class="row">
         <table class="bordered highlight">
                 <thead>
                   <tr>
                       <th data-field="id">Name</th>
                       <th data-field="name">Item Name</th>
                       <th data-field="price">Item Price</th>
                   </tr>
                 </thead>

                 <tbody>
                   <tr>
                     <td>Alvin</td>
                     <td>Eclair</td>
                     <td>$0.87</td>
                   </tr>
                   <tr>
                     <td>Alan</td>
                     <td>Jellybean</td>
                     <td>$3.76</td>
                   </tr>
                   <tr>
                     <td>Jonathan</td>
                     <td>Lollipop</td>
                     <td>$7.00</td>
                   </tr>
                 </tbody>
               </table>
       </div>
       
       
     </div>
     <div class="modal-footer">
       <a class=" modal-action modal-close waves-effect waves-green btn pink">Create</a>
     </div>
   </div>

   <script type="text/javascript">
       $(document).ready(function(){
           $('.modal-trigger').leanModal();
        });

       $('.dropify').dropify({
           messages: {
               'error': 'Oops, something wrong appended.'
           }
       });

       $(document).ready(function(){
          $('.collapsible').collapsible({
            accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
          });
        });
   </script>
</div>  